* {
  /* resetare marigini etc, din cate am citit se pare ca e o practica buna...  */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ffffff;
  --accent-color-iris: #4d5ae5;
  --accent-color-text: #2e2f42;
  --accent-color-description: #434455;
  --button-color-filters: #404bbf;
  --accent-color-filters: #e7e9fc;
  --accent-color-cloud: #f4f4fd;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-color);
  font-style: normal;
  letter-spacing: 0.02em;
}

header {
  background-color: #e7e9fc;
  display: flex; /* altfel nu reuseam sa le pozitinez sa arate cat de cat bine */
  justify-content: space-between; /* am incercat si fara, arata aiurea */
  align-items: center;
  height: 64px;
  text-align: left;
}
header a {
  text-decoration: none;
}

header .web,
header .studio {
  text-transform: uppercase;
  font-family: "Raleway";
  font-weight: 800;
  letter-spacing: 0.03em;
}

.web {
  color: var(--accent-color-iris);
  font-size: 18px;
  line-height: 21px;
}

.studio {
  color: var(--accent-color-text);
  font-size: 18px;
  line-height: 21px;
}

.main-nav ul {
  list-style: none;
  display: flex;
}

.main-nav ul li {
  margin-right: 20px;
}

.main-nav ul li:last-child {
  /* zicea Silviu profu' de treaba asta si am zis sa incerc */
  margin-right: 0;
}

.main-nav ul li a {
  text-decoration: none;
  color: var(--accent-color-text);
  font-weight: 500;
  font-size: 16px;
}

.address a {
  color: var(--accent-color-description);
  font-weight: 400;
  letter-spacing: 0.02em;
  align-items: center;
}

.filters ul {
  justify-content: center; /* l-am scris din greseala, dar e ce trebuie */
  align-items: center;
  gap: 24px; /* preluat din layout, dar inca nu stiu daca are sau nu efect */
  padding: 10px 20px;
}

.filters li,
button {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: center;
  border-radius: 4px;
  padding: 8px 24px 8px 24px;
  background-color: var(--accent-color-filters);
  color: var(--accent-color-iris);
  cursor: pointer;
  border: none;
}

.filters li button:hover {
  color: var(--primary-color);
  background-color: var(--button-color-filters);
}

ul {
  list-style: none;
  display: flex;
  text-decoration: none;
}

.row-1 ul,
.row-2 ul,
.row-3 ul {
  justify-content: center; /* daca a mers mai sus de ce nu ar merge si aici */
  align-items: center;
  gap: 20px;
  margin-bottom: 5%;
  border: 1px solid #e7e9fc;
}

footer {
  background-color: var(--accent-color-text);
  padding: 50px 0; /* singura varianta care am gasit-o sa arata cat de cat bine */
}

footer p {
  color: var(--accent-color-cloud);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}

footer a {
  text-decoration: none;
}

footer .web,
footer .studio {
  text-transform: uppercase;
  width: 115px;
  font-family: Raleway;
  font-weight: 800;
  letter-spacing: 0.03em;
  text-decoration: none;
}

footer .web {
  color: var(--accent-color-iris);
  font-weight: 800; /* le-am pus si aici ca zici ca a intrat dracu in ele si nu vor sa preia greutatea */
  font-size: 18px;
  line-height: 21px;
}

footer .studio {
  color: var(--accent-color-cloud);
  font-weight: 800; /* idem */
  font-size: 18px;
  line-height: 21px;
}
