:root {
  --primary-color: #fefefe;
  --accent-color-text: #2e2f42;
  --color-span-web: #4d5ae5;
  --color-span-studio: #2e2f42;
  --link-color: #f4f4fd;
  --link-color-text: #4d5ae5;
  --link-color-hover: #404bbf;
  --text-color-phone: #434455;
}

* {
  --font-family: "Roboto", sans-serif;
  --font-family-span: "Raleway";
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-color);
  color: var(--accent-color-text);
  font-style: normal;
  letter-spacing: 0.02em;
  /* text-decoration: none; */
}

/* .primary-page {
  color: var();
} */

header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  color: #ffffff;
  text-align: left;
}
header a {
  text-decoration: none;
}
header .web,
header .studio {
  text-transform: uppercase;
  width: auto;
  height: 24px;
  display: inline-block;
  font-family: "Raleway";
}
header .web {
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
header .studio {
  color: #2e2f42;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.main-nav ul {
  list-style: none;
  list-style-type: none;
  width: 261px;
  height: 24px;
  top: 24px;
  left: 347px;
  gap: 40px;
  font-weight: 500;
  display: flex;
}

.main-nav ul li a.index {
  width: 48px;
  height: 24px;
}

.main-nav ul li a.portfolio {
  width: 66px;
  height: 24px;
}

.main-nav ul li a.contacts {
  width: 67px;
  height: 24px;
}

a {
  display: flex;
  color: #2e2f42;
}

main section.hero {
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.02em;
  text-align: center;
  background-color: var(--accent-color-text);
  color: #fefefe;
}

main section.hero button {
  padding: 10px 20px;
  background-color: blue;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: #fefefe;
}

main section.description ul {
  color: var(--accent-color-text);
  list-style: none;
  display: flex;
}

main section.activities h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
}

main section.activities ul {
  list-style: none;
  /* text-align: center; */
  display: flex;
}

main section.team h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
}

main section.team ul {
  list-style: none;
  display: flex;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0;
  color: #333;
}
footer .web,
footer .studio {
  text-transform: uppercase;
  width: auto;
  height: 24px;
  display: inline-block;
}
footer .web {
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

footer .studio {
  color: #2e2f42;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
